[submodule "external/WrenAI"]
	path = external/WrenAI
	url = https://github.com/PackMaaan/WrenAI
[submodule "external/lightdash"]
	path = external/lightdash
	url = https://github.com/PackMaaan/lightdash
	shallow = true
[submodule "external/OpenMetadataStandards"]
	path = external/OpenMetadataStandards
	url = https://github.com/PackMaaan/OpenMetadataStandards
	shallow = true
[submodule "external/openmetadata-demo"]
	path = external/openmetadata-demo
	url = https://github.com/PackMaaan/openmetadata-demo
	shallow = true
[submodule "external/openmetadata-ai-sdk"]
	path = external/openmetadata-ai-sdk
	url = https://github.com/PackMaaan/openmetadata-ai-sdk
	shallow = true
[submodule "external/openmetadata-sqllineage"]
	path = external/openmetadata-sqllineage
	url = https://github.com/PackMaaan/openmetadata-sqllineage
	branch = master
	shallow = true
[submodule "external/openmetadata-retention"]
	path = external/openmetadata-retention
	url = https://github.com/PackMaaan/openmetadata-retention
	shallow = true
[submodule "external/openmetadata-dbt-action"]
	path = external/openmetadata-dbt-action
	url = https://github.com/PackMaaan/openmetadata-dbt-action
	shallow = true
[submodule "external/collate-dbt-artifacts-parser"]
	path = external/collate-dbt-artifacts-parser
	url = https://github.com/PackMaaan/collate-dbt-artifacts-parser
	shallow = true
[submodule "external/OpenMetadata"]
	path = external/OpenMetadata
	url = https://github.com/PackMaaan/OpenMetadata
	shallow = true
