[submodule "external/WrenAI"]
	path = external/WrenAI
	url = https://github.com/PackMaaan/WrenAI
[submodule "external/lightdash"]
	path = external/lightdash
	url = https://github.com/PackMaaan/lightdash
	shallow = true
